# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio / Rider
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Unity cache
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
UserSettings/Search.settings
Assets/InputSettings/PlayerControls.cs
ProjectSettings/ProjectVersion.txt
UserSettings/EditorUserSettings.asset
/UserSettings
UserSettings/Layouts/default-6000.dwlt
UserSettings/PlayModeUserSettings.asset
UserSettings/Search.index
UserSettings/Search.settings
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-6000.dwlt
